<div class="grid grid-cols-3 gap-4">
  <!-- TO DO TASK CONTAINER -->
  <div class="bg-[#2e2e2e] min-h-[calc(96vh-96px)] max-h-[calc(96vh-96px)] min-w-96 rounded-lg p-5 overflow-auto">
    <h1 class="text-xl font-semibold text-white">To do</h1>
    <div class="mt-5">
      <div class="flex flex-col gap-2 bg-[#4b4b4b] p-5 rounded-2xl">
        <h1 class="text-xl font-bold text-white">Hola mundo</h1>
        <p class="font-medium text-white/80">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quidem.</p>
      </div>
    </div>
    <div class="mt-5">
      <div class="flex flex-col gap-2 bg-[#4b4b4b] p-5 rounded-2xl">
        <h1 class="text-xl font-bold text-white">Hola mundo</h1>
        <p class="font-medium text-white/80">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quidem.</p>
      </div>
    </div>
    <div class="mt-5">
      <div class="flex flex-col gap-2 bg-[#4b4b4b] p-5 rounded-2xl">
        <h1 class="text-xl font-bold text-white">Hola mundo</h1>
        <p class="font-medium text-white/80">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quidem.</p>
      </div>
    </div>
  </div>
  <!-- IN PROGRESS CONTAINER -->
  <div class="bg-[#2e2e2e] min-h-[calc(96vh-96px)] min-w-96 rounded-lg p-5 overflow-auto">
    <h1 class="text-xl font-semibold text-white">In progress</h1>
    <div class="mt-5">
      <div class="flex flex-col gap-2 bg-[#4b4b4b] p-5 rounded-2xl">
        <h1 class="text-xl font-bold text-white">Hola mundo</h1>
        <p class="font-medium text-white/80">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quidem.</p>
      </div>
    </div>
    <div class="mt-5">
      <div class="flex flex-col gap-2 bg-[#4b4b4b] p-5 rounded-2xl">
        <h1 class="text-xl font-bold text-white">Hola mundo</h1>
        <p class="font-medium text-white/80">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quidem.</p>
      </div>
    </div>
  </div>
  <!-- COMPLETED CONTAINER -->
  <div class="bg-[#2e2e2e] min-h-[calc(96vh-96px)] min-w-96 rounded-lg p-5 overflow-auto">
    <h1 class="text-xl font-semibold text-white">Done</h1>
    <div class="mt-5">
      <div class="flex flex-col gap-2 bg-[#4b4b4b] p-5 rounded-2xl">
        <h1 class="text-xl font-bold text-white">Hola mundo</h1>
        <p class="font-medium text-white/80">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quidem.</p>
      </div>
    </div>
  </div>
</div>
